body {
    /* background: radial-gradient(at center, #702B63, #4C166C, #2B0C77, #0A067F); */
    background: linear-gradient(to bottom left, rgb(51, 11, 88), rgb(95, 43, 143), rgb(106, 63, 146), rgb(125, 51, 134), rgb(95, 24, 104), rgb(33, 0, 36));
    background-attachment: fixed;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 7%;    
}

.welcomePhoto {
    width: 40%;
    background: transparent;
    border-radius: 20px 0 0 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}

.forms-general {
    margin: 40px;
    color: #fff;
    
}

.form-check {
    display: flex;
    justify-content: space-between;
    width: 93%;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: white;
    
}

input {
    height: 45px;
    width: 200px;
    padding: 1 0 0 45px;
    border: none;
    border-radius: 30px;
}


::-webkit-input-placeholder {
    color: black;
    font-size: 1.1em;
    padding: 10px;
}

.form-label{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}



form {
    display: inline-block;
    width: 30%;
    background: transparent;
    border-radius: 0 20px 20px 0;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}


#registration-form {
    width: auto;
    border-radius: 0;

}

#registration-form::placeholder {
}